extends layout2

block content
  #wrapper.d-flex
      // Sidebar
      #sidebar-wrapper.bg-light.border-right
        .sidebar-heading Venados FC
        .list-group.list-group-flush
          a.list-group-item.list-group-item-action.bg-light(href='/home') Home
          a.list-group-item.list-group-item-action.bg-light(href='statistics') Estadisticas
          a.list-group-item.list-group-item-action.bg-light(href='/players') Jugadores
      // /#sidebar-wrapper
      // Page Content
      #page-content-wrapper
        nav.navbar.navbar-expand-lg.navbar-light.bg-light.border-bottom
          button#menu-toggle.btn.btn-primary Menu
          div.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarSupportedContent', aria-controls='navbarSupportedContent', aria-expanded='false', aria-label='Toggle navigation')
            span.navbar-toggler-icon
          #navbarSupportedContent.collapse.navbar-collapse
            ul.navbar-nav.ml-auto.mt-2.mt-lg-0.mr-2
              li.nav-item.ml-2
                a.nav-linkbtn.btn.btn-link(href='/home') Ascenso Mx
              li.nav-item.ml-2
                a.nav-linkbtn.btn.btn-link(href='/mxcup') Copa Mx
        .container-fluid
          .row.justify-content-center.bg-success
            div
              img.mt-4(src='/images/venados logo.png')
          .row.justify-content-center
            each player,index in team
              div.m-4(data-toggle='modal', data-target='#myModal'+index)
                img.m-4.rounded-circle(src=player.image style="width:120px;height:120px")
                p(style='text-align:center')=player.position
                p(style='text-align:center')=player.name + " " + player.first_surname
        each player,index in team
          .modal.fade(id='myModal'+index role='dialog')
            .modal-dialog
              // Modal content
              .modal-content
                .modal-body
                  .bg-success
                    .row.justify-content-end.pr-3
                      div
                        button.btn.btn-default(type='button', data-dismiss='modal') X
                    p(style='text-align: center; color:white; font-size:18px') FICHA TÉCNICA
                    .row.justify-content-center
                      div
                        img.m-4.pb-1.rounded-circle(src=player.image style="width:120px;height:120px text-align:center")
                    p(style='text-align:center; color:white')=player.name + " " + player.first_surname
                    p.pb-2(style='text-align:center; color:white')=player.position
                  div
                    p(style='text-align: center; font-size:18px') FECHA DE NACIMIENTO
                    p(style='text-align:center')=player.birthdayFormat
                    p(style='text-align: center; font-size:18px') LUGAR DE NACIMIENTO
                    p(style='text-align:center')=player.birth_place
                    p(style='text-align: center; font-size:18px') PESO
                    p(style='text-align:center')=player.weight + " Kg"
                    p(style='text-align: center; font-size:18px') ALTURA
                    p(style='text-align:center')=player.height + " Mts"
                    p(style='text-align: center; font-size:18px') EQUIPO ANTERIOR
                    p(style='text-align:center')=player.last_team
                    .row.justify-content-center
                      div
                        button.btn.btn-default.btn-danger(type='button', data-dismiss='modal') Cerrar

      // /#page-content-wrapper
      // /#wrapper
      // Bootstrap core JavaScript
      script(src='vendor/jquery/jquery.min.js')
      script(src='vendor/bootstrap/js/bootstrap.bundle.min.js')
      // Menu Toggle Script
      script.
        $("#menu-toggle").click(function(e) {
          e.preventDefault();
          $("#wrapper").toggleClass("toggled");
        });
      script.


