extends layout2

block content
  #wrapper.d-flex
      // Sidebar
      #sidebar-wrapper.bg-light.border-right
        .sidebar-heading Venados FC
        .list-group.list-group-flush
          a.list-group-item.list-group-item-action.bg-light(href='/home') Home
          a.list-group-item.list-group-item-action.bg-light(href='/statistics') Estadisticas
          a.list-group-item.list-group-item-action.bg-light(href='/players') Jugadores
      // /#sidebar-wrapper
      // Page Content
      #page-content-wrapper
        nav.navbar.navbar-expand-lg.navbar-light.bg-light.border-bottom
          button#menu-toggle.btn.btn-primary Menu
          div.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarSupportedContent', aria-controls='navbarSupportedContent', aria-expanded='false', aria-label='Toggle navigation')
            span.navbar-toggler-icon
          #navbarSupportedContent.collapse.navbar-collapse
            ul.navbar-nav.ml-auto.mt-2.mt-lg-0.mr-2
              li.nav-item.ml-2
                a.nav-linkbtn.btn.btn-link(href='/home') Ascenso Mx
              li.nav-item.ml-2
                a.nav-linkbtn.btn.btn-link(href='/mxcup') Copa Mx
        .container-fluid
          .row.justify-content-center.bg-success
            div
              img.mt-4(src='/images/venados logo.png')
          .row
            table.table
              thead.thead-dark
                tr
                  th(style='text-align: center') Club
                  th(style='text-align: center') JJ
                  th(style='text-align: center') JG
                  th(style='text-align: center') JE
                  th(style='text-align: center') JP
                  th(style='text-align: center') DF
                  th(style='text-align: center') PTS

              tbody
                tr.bg-light
                  td(style='text-align: center')
                    div
                      img(src='/images/venados_logo.png')
                      p Venados FC
                  td(style='vertical-align:middle;text-align: center')
                    h5=statistics.JJ
                  td(style='vertical-align:middle;text-align: center')
                    h5=statistics.JG
                  td(style='vertical-align:middle;text-align: center')
                    h5=statistics.JE
                  td(style='vertical-align:middle;text-align: center')
                    h5=statistics.JP
                  td(style='vertical-align:middle;text-align: center')
                    h5=statistics.DF
                  td(style='vertical-align:middle;text-align: center')
                    h5=statistics.PTS

      // /#page-content-wrapper
      // /#wrapper
      // Bootstrap core JavaScript
      script(src='vendor/jquery/jquery.min.js')
      script(src='vendor/bootstrap/js/bootstrap.bundle.min.js')
      // Menu Toggle Script
      script.
        $("#menu-toggle").click(function(e) {
          e.preventDefault();
          $("#wrapper").toggleClass("toggled");
        });
